body {
    background-image: url("assets/wallpaper.png");
    background-repeat: repeat;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100%;
    height: auto;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.counter__clock {
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px inset yellow;
    font-size: 35px;
    font-weight: bold;
}

.counter__clock-item {
    padding: 10px 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px yellow;
}

.counter__clock-item--calender {margin-right: 0.7rem; color: blue;}

.title {
    font-size: 20px;
    background-color: green;
    color: white;
    border: 5px inset yellow;
    padding: 5px;
    text-align: center;
    text-transform: lowercase;
    font-style: italic;
    letter-spacing: 10px;
    font-weight: normal;
}

.baby {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1024px) {
    iframe {
        width: 100%;
        height: 315px;
    }
    .counter__clock {
        font-size: 18px;
    }
    .counter__clock-item {
        padding: 10px;
    }
}

@media screen and (max-width: 490px) {
    iframe {
        width: 100%;
        height: 315px;
    }
    img {
        margin: 1rem 0;
    }
    .counter__clock {
        font-size: 12px;
        margin: 1rem 0;
    }
    .counter__clock-item {
        padding: 10px;
    }
}

@media screen and (max-width: 380px) {
    iframe {
        height: 280px;
    }
    .counter__clock {
        font-size: 12px;
    }
    .counter__clock-item {
        padding: 6px;
    }
}